
 html, body{
 	overflow-x: hidden; 
 }

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: white;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  color: white;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
  color: white;
}


.nb {
	background-color: black;
}

a:hover {
	color: white;
	
}

a {
	font-family: Copperplate, Georgia, Helvetica, serif;
	font-size: 20px;
	color: white;
	padding: 100px;
}

.mac{
	background-attachment: scroll;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url("office1.jpeg");
	width: 100%;
	height: 760px;
	margin: 0px;
	border: 0px;
	padding: 0px;
}

.links{
	padding-right: 50px;
	padding-left: 50px;
}

.name{
	position: absolute;
	top: 350px;
	left: 100px;
	font-size: 72px;
	font-family: Copperplate, Georgia, Helvetica, sans-serif;
}

.about-photo{
	width: 200px;
	height: 200px;
	position: relative;


}

.about-list{
	padding-top: 40px;
	padding-bottom: 40px;

}

.about-list-element{
list-style-image: url(laptop-icon.png);
}

/* Timeline */
body{margin-top:20px;}
.timeline {
    border-left: 3px solid #727cf5;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    background: rgba(114, 124, 245, 0.09);
    margin: 0 auto;
    letter-spacing: 0.2px;
    position: relative;
    line-height: 1.4em;
    font-size: 1.03em;
    padding: 50px;
    list-style: none;
    text-align: left;
    max-width: 40%;
}

@media (max-width: 767px) {
    .timeline {
        max-width: 98%;
        padding: 25px;
    }
}

.timeline h1 {
    font-weight: 300;
    font-size: 1.4em;
}

.timeline h2,
.timeline h3 {
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 10px;
}

.timeline .event {
    border-bottom: 1px dashed #e8ebf1;
    padding-bottom: 25px;
    margin-bottom: 25px;
    position: relative;
}

@media (max-width: 767px) {
    .timeline .event {
        padding-top: 30px;
    }
}

.timeline .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}

.timeline .event:before,
.timeline .event:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline .event:before {
    left: -207px;
    content: attr(data-date);
    text-align: right;
    font-weight: 100;
    font-size: 0.9em;
    min-width: 120px;
}

@media (max-width: 767px) {
    .timeline .event:before {
        left: 0px;
        text-align: left;
    }
}

.timeline .event:after {
    -webkit-box-shadow: 0 0 0 3px #727cf5;
    box-shadow: 0 0 0 3px #727cf5;
    left: -55.8px;
    background: #fff;
    border-radius: 50%;
    height: 9px;
    width: 9px;
    content: "";
    top: 5px;
}

@media (max-width: 767px) {
    .timeline .event:after {
        left: -31.8px;
    }
}

.rtl .timeline {
    border-left: 0;
    text-align: right;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-right: 3px solid #727cf5;
}

.rtl .timeline .event::before {
    left: 0;
    right: -170px;
}

.rtl .timeline .event::after {
    left: 0;
    right: -55.8px;
}


.projects{
	border: 0px;
	padding: 0px;
	margin: 0px;
	transition: 1s ease;
}

.projects img:hover{
-webkit-filter: blur(5px);
transition: 1s ease;
border: 0px;
padding: 0px;
margin: 0px;
}
/* Socials */

.socials{

	list-style-type: none;

}

.socials li{
	display: inline-block;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fa-facebook {
  background: #55ACEE;
  color: white;
}






